body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #DEDEDE;
}


#header1 {
	height: 59px;
	width: 100%;
	background-color: #333333;
}
#hedeer1 img{
	width: 200px;
}
#header1 ul{
	width: 400px;
	float: right;
}
#header1 li{
	float:left;
	width: 100px; 
	font-size: 14px;
}


#wen1 {
	margin-top: 22px;
	margin-left: 21px;
	margin-right: 21px;
	margin-bottom: 22px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	box-shadow: 1px 1px 2px #000;
	background-color: #fff;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
#wen1 header h3{
	color: grey;
	font-size: 16px;
}
#wen1 header p{
	color: grey;
	font-size: 13px;
}
#wen1 article p{
	text-indent: 2em;
}


#second {
	margin-top: 22px;
	margin-left: 21px;
	margin-right: 21px;
	margin-bottom: 22px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	box-shadow: 1px 1px 2px #000;
	background-color: #fff;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
#second header h3{
	color: grey;
	font-size: 16px;
}
#second header p{
	color: grey;
	font-size: 13px;
}
#second article p{
	text-indent: 2em;
}
#second ul{
	list-style-type: none;
}


#picture {
	margin-top: 22px;
	margin-left: 21px;
	margin-right: 21px;
	margin-bottom: 22px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	box-shadow: 1px 1px 2px #000;
	background-color: #fff;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
#picture blockquote{
	border: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	width: 150px;
	height: 150px;
	text-align: center;
}
#picture blockquote p{
	font-size: 12px;	
}
#picture blockquote img{
	width: 100px;
	height: 100px;
}


#laster {
	margin-top: 22px;
	margin-left: 21px;
	margin-right: 21px;
	margin-bottom: 22px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	box-shadow: 1px 1px 2px #000;
	background-color: #fff;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
#laster header h3{
	color: grey;
	font-size: 16px;
}
#laster header p{
	color: grey;
	font-size: 13px;
}
#laster table{
	width: 100%;
	border-collapse: collapse;
	border-color: #DEDEDE;
}
#laster table th{
	background-color: #000;
	color: #fff;
	border-color: #DEDEDE;
	text-align: left;
}
#laster table td{
	border-color: #DEDEDE;
}
#laster table tr.num td{
	background-color: #DEDEDE;
	font-weight: bold;
	border-color: #DEDEDE;
}


#celan {
	margin-top: 22px;
	margin-left: 21px;
	margin-right: 21px;
	margin-bottom: 22px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	box-shadow: 1px 1px 2px #000;
	background-color: #fff;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
#celan h3{
	border-left: 4px solid #DEDEDE; 
	padding: 10px 10px;
}
#celan table{
	margin: 0 auto;
}
#celan table td.left1{
	font-size: 13px;
	text-align: right;
}
#celan table td.right1{
	font-size: 13px;
}
#celan table td.tishi{
	font-size: 12px;
	color: #B8B5AE;
}
#celan table textarea{
	width: 550px;
}
#celan input.tijiao{
	width: 100%;
	height: 37px;
	background-color: #3355D0;
	color: #fff;
	border-radius: 0.8em;
}


#banquan {
	height: 70px;
	width: 100%;
	line-height: 70px;
	background-color: #000;
	color: #fff;
	text-align: center;
}